:root {
    --white: #FFFFFF;
    --blue: #4488bb;
    --grey: #aaaaaa;
    --grey-light: #eeeeee;
    --blue-dark: #2e5d80;
    --red: #bb4444;
    --grey-overlay: #333333;
}

*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
}

body {
    font-family: 'Arial', sans-serif;
}

.d-flex {
    display: flex !important;
}

.d-between {
    justify-content: space-between;
}

.d-column {
    flex-direction: column;
}

.d-row-end {
    justify-content: flex-end;
}

.d-column-center {
    align-items: center;
}

.d-center {
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex: 1;

    &--fluid {
        width: 100%;
        max-width: 100%;
    }

    &--wrap {
        padding: 0 200px;

        @media screen and (max-width: 1440px) {
            padding: 0 50px;
        }

        @media screen and (max-width: 768px) {
            padding: 0 10px;
        }
    }

    &--image {

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}

.header {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
        .container--header {
            flex-direction: column;
        }
    }

    &__logo {
        margin: 30px 0 0 30px;
        padding-bottom: 30px;

        font-weight: bold;
        font-size: 48px;
        color: var(--white);

        border-bottom: 5px solid var(--white);

        @media screen and (max-width: 1440px) {
            font-size: 40px;
        }

        @media screen and (max-width: 900px) {
            margin: 30px 0 0 0;
        }

        @media screen and (max-width: 768px) {
            font-size: 32px;
        }

        @media screen and (max-width: 500px) {
            font-size: 20px;
        }
    }

    &__description {
        margin: 30px 0 0 30px;

        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: var(--white);

        @media screen and (max-width: 900px) {
            margin: 30px 0 0 0;
        }
    }

    &__form {
        margin: 30px 100px 30px 0;
        
        flex: 1;

        @media screen and (max-width: 900px) {
            margin: 30px 0 30px 0;
        }

        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }

    .form {
        width: 100%;
        max-width: 290px;

        padding: 24px 20px 20px;

        background-color: var(--white);

        border-radius: 3px;

        &__title {
            font-weight: bold;
            font-size: 24px;
            color: var(--blue);
        }

        &__item {
            margin-top: 15px;

            width: 250px;
            height: 50px;

            position: relative;

            label {
                width: 100%;

                cursor: text;

                span:first-of-type {
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--grey);

                    position: absolute;
                    top: 50%;
                    left: 10px;

                    transform: translateY(-50%);
                }
            }

            input[type="text"] {
                width: 100%;
                height: 100%;

                font-weight: 400;
                font-size: 16px;

                padding: 0 25px 0 10px;

                border: none;

                background-color: var(--grey-light);
            }

            svg {
                position: absolute;

                top: 50%;
                right: 15px;

                transform: translateY(-50%);

                z-index: 10;

                cursor: pointer;

                display: none;
            }

            &--checkbox {
                height: initial;

                margin-bottom: 15px;
            }

            // handle focus
            &--active {

                label {

                    span:first-of-type {
                        font-size: 10px;

                        transform: translateY(calc(-50% - 17px));
                    }
                }

                svg {
                    display: flex;
                }
            }

            &--valid {

                input[type="text"] {
                    color: var(--blue);

                    border: 1px solid var(--blue);

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus, {
                        border: 1px solid var(--blue);
                        -webkit-text-fill-color: var(--blue);
                        -webkit-box-shadow: 0 0 0 1000px var(--grey-light) inset;
                        transition: background-color 5000s ease-in-out 0s;
                    }
                }

                svg {

                    path {
                        fill: var(--blue);
                    }
                }
            }

            &--invalid {

                label {

                    span:first-of-type {
                        color: var(--red);
                    }
                }

                input[type="text"] {
                    color: var(--red);

                    border: 1px solid var(--red);

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus, {
                        border: 1px solid var(--red);
                        -webkit-text-fill-color: var(--red);
                        -webkit-box-shadow: 0 0 0 1000px var(--grey-light) inset;
                        transition: background-color 5000s ease-in-out 0s;
                    }
                }

                svg {

                    path {
                        fill: var(--red);
                    }
                }

                .form__error {
                    display: block;
                }
            }
        }

        &__error, .select__error, .checkbox__error {
            position: absolute;

            left: 50%;
            bottom: -40px;

            transform: translateX(-50%);

            font-weight: 400;
            font-size: 16px;
            color: var(--grey-light);

            padding: 11px 13px;

            background-color: var(--red);

            z-index: 30;

            width: 100%;
            max-width: 180px;

            border-radius: 2px;

            justify-content: center;

            display: none;

            &:before {
                content: '';

                width: 0;
                height: 0;

                border-style: solid;
                border-width: 0 8px 8px 8px;

                border-color: transparent transparent var(--red) transparent;

                position: absolute;

                left: 50%;
                top: -7px;

                transform: translateX(-50%);

                z-index: 30;
            }
        }

        &__link {
            margin-left: 20px;

            font-weight: 400;
            font-size: 16px;
            color: var(--grey);
        }
    }
}

.select {
    width: 100%;
    height: 100%;

    padding: 0 25px 0 10px;

    background-color: var(--grey-light);

    cursor: pointer;

    &.form__item--invalid {
        border: 1px solid var(--red);

        .select__current {

            span:first-of-type {
                color: var(--red);
            }
        }

        .select__error {
            display: flex !important;
        }
    }

    &__current {

        span:first-of-type {
            font-weight: 400;
            font-size: 16px;
            color: var(--grey);

            position: absolute;
            top: 50%;
            left: 10px;

            transform: translateY(-50%);
        }
    }

    &__icon {
        display: flex !important;
    }

    &__value {
        font-weight: 400;
        font-size: 16px;
        color: var(--blue);
    }

    &__content {
        width: 100%;
        max-height: 100px;

        display: none;

        position: absolute;
        left: 0;
        top: 50px;

        z-index: 20;

        background-color: var(--white);

        border: 1px solid var(--grey-light);

        &--active {
            display: flex;
        }
    }

    &__list {
        list-style: none;

        width: 100%;

        overflow-y: auto;
    }

    &__item {
        padding: 10px;

        &:hover {
            background-color: var(--grey-light);
        }
    }

    &--active {

        .select__error {
            display: none !important;
        }
    }

    &--selected {
        border: 1px solid var(--blue);

        .select__current {
            display: flex;
            align-items: center;

            height: 100%;
            width: 100%;

            span:first-of-type {
                font-size: 10px;

                transform: translateY(calc(-50% - 17px));
            }
        }
    }
}

.checkbox {
    display: block;

    position: relative;

    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__checkmark {
        top: 0 !important;
        left: 0 !important;

        transform: translateY(0) !important;
        height: 18px;
        width: 18px;

        background-color: var(--grey-light);

        &:after {
            content: "";

            position: absolute;

            left: 7px;
            top: 3px;

            width: 5px;
            height: 10px;

            display: none;

            border: solid var(--white);
            border-width: 0 2px 2px 0;

            transform: rotate(45deg);
        }
    }

    label {
        cursor: pointer !important;
    }

    input {
        position: absolute;

        opacity: 0;

        cursor: pointer;

        height: 0;
        width: 0;

        &:checked ~ .checkbox__checkmark {
            background-color: var(--blue);

            &:after {
                display: block;
            }
        }
    }

    span {

        &:last-of-type {
            font-weight: 400;
            font-size: 16px;
            color: var(--grey);
            line-height: 20px;

            margin-left: 22px;
        }
    }
}

.button {
    border: none;
    border-radius: 2px;

    cursor: pointer;
    
    &--blue {
        background: rgb(68,136,187);
        background: linear-gradient(90deg, rgba(68,136,187,1) 0%, rgba(46,93,128,1) 100%);

        color: var(--white);

        padding: 9px 37px;
    }
    
    &--transparent {
        background-color: transparent;
    }
}

.posts {
    margin-top: 50px;

    width: 100%;

    @media screen and (max-width: 1024px) {
        margin-top: 0;
    }

    &__row {

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }
}

.post {
    flex: 1;

    position: relative;

    margin: 25px 5px 0;

    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;

    min-height: 170px;
    max-height: 170px;

    @media screen and (max-width: 1024px) {
        margin: 25px 0 0 0;
    }

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &:hover {

        .post__text {
            height: 100%;
        }

        .post__caption {
            display: flex;
        }
    }

    &__text {
        width: 100%;

        position: absolute;

        bottom: 0;

        background-color: rgba(#4488bb, .75);

        @media screen and (max-width: 1024px) {
            height: 100%;
        }
    }

    &__title {
        padding: 10px 0 10px 24px;

        font-weight: bold;
        font-size: 24px;
        color: var(--white);
    }

    &__icon {
        width: 18px;
        height: 18px;

        margin-right: 20px;
    }

    &__caption {
        display: none;

        font-weight: 400;
        font-size: 14px;
        color: var(--white);

        padding: 10px 20px 10px 20px;

        @media screen and (max-width: 1200px) {
            padding: 0 20px 10px 20px;
        }

        @media screen and (max-width: 1024px) {
            display: flex;
        }
    }
}

.preview {
    margin-top: 75px;

    background-color: var(--grey-light);

    min-height: 535px;

    @media screen and (max-width: 1200px) {
        min-height: initial;

        padding-bottom: 30px;
    }

    @media screen and (max-width: 1024px) {
        margin-top: 30px;
    }

    .container {
        position: relative;

        &:last-of-type {

            @media screen and (max-width: 1200px) {
                align-items: center;
            }
        }
    }

    &__image {
        position: absolute;

        top: -20px;
        left: 0;
    }

    &__title {
        margin-top: 60px;

        font-weight: bold;
        font-size: 48px;
        color: var(--blue);

        margin-left: 40px;

        @media screen and (max-width: 1200px) {
            margin-left: 0;
        }

        @media screen and (max-width: 1024px) {
            margin-top: 30px;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__list {
        margin-top: 50px;

        list-style: none;

        @media screen and (max-width: 1024px) {
            margin-top: 30px;
        }
    }

    &__item {
        cursor: pointer;

        &:last-of-type {

            .preview__text {
                border-bottom: none;
            }
        }
    }

    &__count {
        background-color: var(--blue);

        font-weight: bold;
        font-size: 18px;
        color: var(--white);

        border-radius: 50%;

        min-width: 30px;
        min-height: 30px;
        max-height: 30px;
        max-width: 30px;
    }

    &__text {
        margin-left: 20px;

        font-weight: bold;
        font-size: 18px;
        color: var(--blue);

        padding: 15px 0;

        border-bottom: 1px dashed var(--grey);

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

.footer {
    padding: 15px 0;

    &__content {
        border-left: 5px solid var(--blue);

        padding: 10px 0;
    }

    &__item {
        margin-top: 15px;

        font-weight: 400;
        font-size: 18px;
        color: var(--blue);

        margin-left: 20px;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.modal {
    display: none;

    &:before {
        content: "";

        display: block;
        
        background-color: var(--grey-overlay);

        opacity: .75;
        
        position: fixed;
        
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        z-index: 100;
    }

    &__content {
        background: var(--white);

        border-radius: 3px;

        position: fixed;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        z-index: 1000;

        min-width: 590px;

        padding: 20px;

        @media screen and (max-width: 768px) {
            min-width: calc(100% - 10px);
        }

        @media screen and (max-width: 425px) {
            max-height: 90vh;
            overflow-y: auto;
        }
    }

    &__header {

    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        color: var(--grey-overlay);
    }

    &__close {
        position: absolute;

        right: 20px;
        top: 20px;
    }

    &__body {
        margin-top: 30px;

        font-weight: 400;
        font-size: 16px;
        color: var(--grey-overlay);
    }

    &__footer {
        margin-top: 30px;

        width: 100%;

        .button--transparent {
            margin-right: 30px;

            color: var(--grey);
        }
    }

    &--active {
        display: flex;
    }
}



